<div class="flex justify-end">
  <button class="btn btn-wide btn-primary mb-5" routerLink="/users/users-setting" (click)="clearUserId()">
    <i class="fa fa-plus" aria-hidden="true"></i>Add User
  </button>
</div>
<div class="relative">
  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>
  </div>
  <input type="search" id="default-search" [(ngModel)]="searchQuery" (keyup.enter)="search()"
    class="block border text-sm rounded-lg w-full p-4 pl-10 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
    placeholder="Search..." required />
  <button type="submit" (click)="search()"
    class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Search
  </button>
  <button type="submit" (click)="clear()"
    class="text-white absolute right-24 bottom-2.5 bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-400 dark:hover:bg-gray-500 dark:focus:ring-gray-600">
    Clear
  </button>
</div>

<div class="w-full pt-10">
  <div class="bg-gray-200 font-bold grid grid-cols-5 rounded-t-lg">
    <div class="p-4 cursor-pointer" (click)="sortBy('id')">ID <i class="fas fa-sort" *ngIf="sortedColumn === 'id'"></i>
    </div>
    <div class="p-4 cursor-pointer" (click)="sortBy('name')">Name <i class="fas fa-sort"
        *ngIf="sortedColumn === 'name'"></i></div>
    <div class="p-4 cursor-pointer" (click)="sortBy('email')">Email <i class="fas fa-sort"
        *ngIf="sortedColumn === 'email'"></i></div>
    <div class="p-4 cursor-pointer" (click)="sortBy('status')">Status <i class="fas fa-sort"
        *ngIf="sortedColumn === 'status'"></i></div>
    <div class="p-4 text-end">Action</div>
  </div>

  <div *ngFor="
      let user of users
        | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }
    " class="odd:bg-gray-100 grid grid-cols-5 items-center">
    <div class="p-4">{{ user.id }}</div>
    <div class="p-4">{{ user.name }}</div>
    <div class="p-4">{{ user.email }}</div>
    <div class="p-4 justify-items-center flex justify-start">
      <div class="rounded-full py-1 px-3 w-100" [ngClass]="{
          'text-white bg-green-500': user.status === 'A',
          'text-gray-800': user.status === 'I'
        }" [ngStyle]="{
          'border': user.status === 'I' ? '1px solid #1F2937' : 'none'
        }">
        <i class="far fa-dot-circle"></i> {{ user.status === 'A' ? 'Active' : 'Inactive' }}
      </div>
    </div>
    <div class="p-4">
      <div class="grid justify-items-end">
        <div class="dropdown dropdown-left">
          <i tabindex="0" class="fa-solid fa-gear p-2 bg-gray-200 rounded-full cursor-pointer"></i>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <a routerLink="/users/users-setting" (click)="setUser(user.id)">
                <i class="fa-solid fa-eye"></i> Detail
              </a>
            </li>
            <li>
              <a routerLink="/users/users-setting" (click)="editUser(user.id)">
                <i class="fa-solid fa-pen-to-square"></i> Edit
              </a>
            </li>
            <li>
              <a (click)="delete()">
                <i class="fa-solid fa-trash-can"></i> Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 flex justify-end">
  <pagination-controls (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
</div>